* {
  margin: 0;
  padding: 0;
  font-family: CaviarDreams, Helvetica, sans-serif, Arial;
}

.logo {
  font-size: 50px;
}

@media (max-width: 768px) {
  .webfix {
    position: relative;
    text-align: left;
    padding-left: 8%;
  }

  .zoom-in {
    transform: translate(45px);
  }
}

.logo_text {
  display: inline;
  font-size: 30px;
  padding-left: 10px;
}

.navbar-brand {
  min-height: 50px;
}

.link_icon a {
  display: inline;
  font-size: 25px;
  padding-right: 10px;
  color: black;
}

.link_icon a:hover {
  display: inline;
  font-size: 25px;
  padding-right: 10px;
  color: #e5e4ea;
}

i {
  display: inline;
  font-size: 25px;
  padding-right: 10px;
}

.intro {
  opacity: 0;
}

body {
  padding-top: 75px;
  background-color: white;
}

.cv-custom {
  margin: 0;
  padding-top: -110px;
  font-family: CaviarDreams, Helvetica, sans-serif, Arial !important;
  letter-spacing: 1px;
  font-size: 100%;
  text-align: left;
  color: black !important;
}

.cv-content {
  padding: 30px 30px 50px 30px !important;
}

.hi {
  text-align: center;
  font-size: 2em;
  text-shadow: 1px 1px 1px #111111;
  padding: 0 3% 0 3%;
}

.game {
  background-color: #211e1e;
  align-content: center;
  display: flex;
}

.competency-level {
  color: black !important;
}

.me-small {
  padding: 0 10% 10% 10%;
  width: auto;
  background-color: #e5e4ea;
}

.fadein {
  opacity: 0;
}

.lead {
  padding: 0 5% 0 5%;
}

p {
  font-size: 100%;
}

.card {
  max-height: 400px;
  min-height: 200px;
}

.border {
  padding: 20px 20px 20px 20px;
  margin: 0;
}

.grid {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.left {
  float: left;
}

.right {
  float: right;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 1, 3em;
  color: rgb(90, 90, 90);
  margin: auto;
  position: relative;
  background: #ffffff;
  font-weight: 300;
  align-content: center;
  clear: both;
}

h3:before {
  content: "";
  display: block;
  border-top: solid 1px #212529;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 60%;
  z-index: 0;
}

h3 span {
  background: #fff;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}

h4 {
  font-size: 1em;
  color: #212529;
  font-weight: 500;
}

h5 {
  font-size: 1em;
  font-weight: 300;
  font-style: italic;
}

h6 {
  font-weight: 400;
  padding-bottom: 0px;
  margin: 0 0 5px 0;
}

article {
  font-weight: 500;
  clear: both;
  display: flex;
  flex-wrap: wrap;
}

article p {
  font-weight: 300;
  margin: 10px 0 10px 0;
}

#curriculum {
  position: relative;
  padding: 25px;
}

.month-year-data {
  font-weight: 200;
}

.description {
  line-height: 150%;
}

#tools,
#coding,
#languages {
  line-height: 300%;
}

.col-md-3,
.col-md-9,
.col-md-12 {
  padding-left: 0;
}

.col-sm-12 {
  padding: 0 20px;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-text {
  color: #fff;
  text-align: justify;
  font-size: 1.1em;
  font-weight: 200;
  padding: 2% 5% 2% 5%;
}

.zoom-in a:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.carousel {
  align-content: center;
  padding: 30px 30px 30px 30px;
}

.icon-dark {
  filter: invert(100%);
}

.bg-gray {
  background-color: #bdbdbd;
}

.portrait-padding {
  padding: 5% 25% 5% 25%;
}

.text-green {
  color: #b1df6c;
}

.dark-link :link :visited {
  color: #111111;
}

.responsive-img img {
  /* width: 100%; */
  height: 300px;
}
